altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
et_xmlfile
gitdb
GitPython
greenlet
idna
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy>=1.26.0
openpyxl>=3.1.0
packaging
pandas>=2.0.0
pillow
protobuf
pyarrow
pydeck
python-dateutil
pytz
referencing
requests
rpds-py
six
smmap
SQLAlchemy>=2.0.0
streamlit>=1.30.0
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
psycopg2-binary
xlsxwriter
xlrd>=2.0.1
